<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817973783957-itf0st59cb71kksv918pg6k9okbpjdcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817973783957-itf0st59cb71kksv918pg6k9okbpjdcg</string>
	<key>API_KEY</key>
	<string>AIzaSyCR4YpU2hWuLAdE6U4JWK5rb5ABEnUFfkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>817973783957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dalveersingh.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-2f55f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-2f55f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817973783957:ios:cc132ecad0d13eb3aa1a9c</string>
</dict>
</plist>